   {% extends 'base.html' %}
   {% load static %}
   {% block content %}
        <!-- Start Header Section -->
        <div class="banner">
            <div class="overlay">
                <div class="container">
                    <div class="intro-text">
                        <h1>Welcome To <span>Keep Clean</span></h1>
                        <p>A place to get affordable cleaning and organizing services from professional cleaners, <br> get 20% off from on your first order</p>
                        <!-- <a href="#feature" class="page-scroll btn btn-primary">Read More</a> -->
                    </div>
                </div>
            </div>
        </div>
    {% endblock content %}
 